.centered {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 2em;
}

#edit-content-model-wrapper div table td:not(:first-child) {
    outline: 1px solid #ddd;
}

#edit-content-model-wrapper div table td:first-child {
    background-color: #e8e8e8;
}

.fineprint {
    font-size: 8pt;
}

.model_label {
    min-width: 330px;
}

.item_na {
   color: #aaa;
}

.model_label label {
    font-weight: bold;
}

.model_label .pid {
    color: #888;
    font-size: smaller;
}

.selected_link {
    font-weight: bold;
}

.selected_link span {
    font-weight: normal;
    color: #666;
}

.link_open_new_tab_tiny, .link_open_new_tab {
    line-height: 0.95em;
    padding-bottom: 0.2em;
}

.link_open_new_tab_tiny {
    padding-right: 16px;
    background: url("../images/open-new-tab_12.png") top right no-repeat !important;
}

.link_open_new_tab {
    padding-right: 20px;
    background: url("../images/open-new-tab_16.png") top right no-repeat !important;
}

.m_select {
    font-size: 8pt;
}

.select_howmany {
    background-color: teal;
}

.select_relationship {
    background-color: yellow;
}

.select_related_to_model {
    background-color: yellowgreen;
}

.required input[type=checkbox] {
    transform: scale(1.75);
    -moz-transform: scale(1.75); /* FF */    
}

.round_fieldset {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #666;
    background-color: #f6f6f6;
    box-shadow: 2px 2px 8px #aaa;
    margin-bottom: 1em;
}

.round_fieldset .fieldset-wrapper .form-item {
    margin-bottom: 2px !important;
}

.good {
    color: green;
}

.bad {
    color: red;
}
